*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(17, 17, 70);
}
img{
 position: relative;
 top: 30px;
 left: 60px;
}
ul{
 list-style-type: none;
 text-align: end;
 padding-right: 80px;
}
 li{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 0;
}
a:hover,
a:active {
    letter-spacing: 5px;
}

a:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#ffffff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

a:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
}
a:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
.button-header{
    margin-left: 50px;
    background-color: rgb(59, 59, 251);
    border-radius: 40%;
    width: 100px;
    height: 40px;
    color: white;
}
.item button{
    color: white;
    border: 1px solid rgb(29, 29, 72);
    width: 150px;
   background-color: rgb(50, 50, 108);
   margin-bottom: 20px;
}
.item-section h1 {
  color: white;
  width: 300px;
}
.item-section span{
    color: blue;
}
.item-section p{
    color: white;
    margin-top: 15px;
}
.icon button{
    margin-top: 10px;
    margin-right:30px;
height: 40px;
width: 120px;
border-radius: 40%;
background-color: blue;
color: white;
}
.fa-facebook{
    background-color: white;
    color:  blue;
    border-radius: 50%;
    margin-right: 10px;
}
.fa-passport{
    background-color: white;
    color: rgb(196, 172, 143);
    border-radius: 50%;
    margin-right: 10px;
}
.fa-linkedin{
    background-color: white;
    color: blue;
    border-radius: 50%;
}

.img img{
    width: 600px;
    height:500px;
    position: relative;
    left: 800px;
    top: -300px;
}
.hero{
    margin-top: 150px;
    margin-left: 50px;
}
.img-item img{
        position: relative;
        left: 1350px;
        top: -100px;
}
.item-img img{
    width: 600px;
    height: 600px;
    position: relative;
    left: 190px;
    top: -650px;
}
.itemabout-us {
    position: relative;
    top: -1250px;
    left: 850px;
}
.button-us button{
    color: white;
    border: 1px solid rgb(29, 29, 72);
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 108);
    margin-bottom: 20px;
}
.item-us h1{
    color: white;
    
    
}
.item-us p{
    color: white;
    margin-top: 30px;
}
.item-us span{
    color: blue;
}
.button-about button{
    margin-top: 10px;
    color: white;
     border: 1px solid rgb(29, 29, 72);
    width: 150px;
    height: 50px;
    background-color: rgba(50, 50, 108, 0.128);
}
.button-next{
    margin-top: 10px;
    margin-right: 30px;
    height: 40px;
    width: 120px;
    border-radius: 40%;
    background-color: blue;
    color: white;
}
.itemabout-us{
    width: 500px;
}
.my-work{
    position: relative;
    top: -900px;
}
.button-work{
    color: white;
    border: 1px solid rgb(29, 29, 72);
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 108);
    margin: 20px;

}
.headline {
    color:white;
    margin: 20px
}
.img-work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.avatar {
border: 1px solid white;
width: 350px;
height: 400px;
background-color: white;
border-radius: 20px;
} 
.avatar p{
color: black;
position: relative;
top: 30px;
margin-left: 10px;
}
.avatar h4{
    position: relative;
    top :50px;
    margin-left: 10px;
}
.avatar i{
    text-align: center;
    background-color: blue;
    width: 30px;
    height: 30px;
    position: relative;
    left: 300px;
    top: -10px;
    border-radius: 50%;
}
.avatar img{
    border-radius: 20px;
    position: relative;
    left: 50px;
}
.services{
    position: relative;
    top: -700px;
    
}
.button-services{
    color: white;
    border: 1px solid rgb(29, 29, 72);
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 108);
    margin: 20px;
}
.headline-services{
    color: white;
    margin-left: 15px;
}
.boder-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-services img{
    width: 300px;
    height: 350px;
}
.img-services h4{
position: relative;
top: -100px;
left: 70px;
width: 150px;
}
.img-services i{
position: relative;
    top: -100px;
    left: 70px;
}
.img-services p {
    position: relative;
    top: -100px;
    left: 70px;
    width: 300px;
}
.img-services h4,p{
    color: black;
}
.img-services i{
    color: yellow;
}
.get-in-touch{
    position: relative;
    top: -600px;
}
.headline-get img{ 
    width: 250px;
    height: 300px;
} 
.headline-get h1{
    color: white;
    width: 400px;
    position: relative;
    left: 800px;
    top: -250px;
}
.headline-get p{
    color: white;
    width: 500px;
    position: relative;
    left: 800px;
    top: -250px;
}
.inmation {
    position: relative;
    top: -80px;
    left: 60px;
    width: 200px;
    margin-top: 10px;
}
.inmation p{
    color: white;
}
.touch {
    position: relative;
    top:-300px;
    left: 600px;
    width: 150px;
}
.touch label{
    color: white;
}
.touch-out {
    position: relative;
    left: 400px;
    top: -35px;
}
.touch input{
    width: 350px;
    height: 30px;
    background-color: rgb(80, 80, 164);
}
.touch-text textarea{
    background-color: rgb(80, 80, 164);
}
.touch-in input{
    margin-bottom: 10px;
    width: 750px;
}
.touch-button button{
    margin-top: 10px;
    color: white;
    background-color: blue;
    width: 750px;
    height: 50px;
    border-radius: 30%;
}